#container{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: right;
    height: auto; 
    size: 50px;
}
h1{
    border-radius: 10mm;
    background-color:khaki;
    text-align: center;
    font-style: oblique;
    letter-spacing: 5mm;
}
#loisir{
    display: flex;
    justify-content: center;
    border-style: dotted;
    border-radius: 200px;
    flex-flow: column;
    text-align: center;
    font-family: fantasy;
    font-size: 9mm;
}
