html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
}




#container{
    display: flex;
    background-color:red;
    justify-content: space-between;
    height: 100%;
    font-size: 3em;
}
#contenu{
    display: flex;
    flex-grow: 5;
    flex-direction: column;
}
#page{
    display: flex;

}
#navigation{
    display: flex;
    background-color: rosybrown;
    flex-direction: column;
    height: 100%;

    
}